		<div class="col-xs-6 text-center" class="task">
            <h3>Here is more information about {{city}}! </h3>
			  
              <ul>
                  {{#each city}}
                  <li>
                      {{match}}
                      {{population}}
                      {{climate}}
                      {{industry}}
                  </li>
                    {{/each}}
              </ul>
		</div>